.eachGrid {
  border: 1px solid black;
}
.eachGrid:hover {
  background-color: gainsboro;
}

.AIGrid {
  border: 1px solid black;
}

.shipGrid {
  background-color: black;
}

.damagedGrid {
  background-color: red;
}

.missedShotGrid {
  background-color: grey;
}
